WFListas/Connected Services/Servicio/Service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:51668/Service.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:51668/Service.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:51668/Service.svc?xsd=xsd2" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService_SP_ShowMuni_InputMessage">
    <wsdl:part name="parameters" element="tns:SP_ShowMuni" />
  </wsdl:message>
  <wsdl:message name="IService_SP_ShowMuni_OutputMessage">
    <wsdl:part name="parameters" element="tns:SP_ShowMuniResponse" />
  </wsdl:message>
  <wsdl:message name="IService_SP_ShowAllMuni_InputMessage">
    <wsdl:part name="parameters" element="tns:SP_ShowAllMuni" />
  </wsdl:message>
  <wsdl:message name="IService_SP_ShowAllMuni_OutputMessage">
    <wsdl:part name="parameters" element="tns:SP_ShowAllMuniResponse" />
  </wsdl:message>
  <wsdl:message name="IService_SP_ShowDepa_InputMessage">
    <wsdl:part name="parameters" element="tns:SP_ShowDepa" />
  </wsdl:message>
  <wsdl:message name="IService_SP_ShowDepa_OutputMessage">
    <wsdl:part name="parameters" element="tns:SP_ShowDepaResponse" />
  </wsdl:message>
  <wsdl:portType name="IService">
    <wsdl:operation name="SP_ShowMuni">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/SP_ShowMuni" message="tns:IService_SP_ShowMuni_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/SP_ShowMuniResponse" message="tns:IService_SP_ShowMuni_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SP_ShowAllMuni">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/SP_ShowAllMuni" message="tns:IService_SP_ShowAllMuni_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/SP_ShowAllMuniResponse" message="tns:IService_SP_ShowAllMuni_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SP_ShowDepa">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/SP_ShowDepa" message="tns:IService_SP_ShowDepa_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/SP_ShowDepaResponse" message="tns:IService_SP_ShowDepa_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService" type="tns:IService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SP_ShowMuni">
      <soap:operation soapAction="http://tempuri.org/IService/SP_ShowMuni" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SP_ShowAllMuni">
      <soap:operation soapAction="http://tempuri.org/IService/SP_ShowAllMuni" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SP_ShowDepa">
      <soap:operation soapAction="http://tempuri.org/IService/SP_ShowDepa" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service">
    <wsdl:port name="BasicHttpBinding_IService" binding="tns:BasicHttpBinding_IService">
      <soap:address location="http://localhost:51668/Service.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>